* {
  box-sizing: border-box;
  margin: 0;
}

span {
  display: block;
}
.canvas {
  margin: 100px auto 100px;
  width: 80%;
  text-align: center;
}
nav {
  text-align: center;
  padding: 20px;
  font-size: 40px;
}
a {
  text-decoration: none;
  font-weight: bold;
  color: red;
}
.button {
  width: 100px;
  height: 100px;
  border: solid black 2px;
  display: inline-block;
}

#grey {
  background: grey;
}

#white {
  background: white;
}
#blue {
  background: blue;
}
#yellow {
  background: yellow;
}
